h1, h2, ul, pre {
    background-color: rgb(63,63,63);
}

ul {
    list-style-type: none !important;
    padding: 10px !important;
}

video#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
}